h1 {
    background-color: #82b3a0;
}

h2 {
    text-align: right; 
    background-color:#82b3a0;
}

table,th,td{
    margin: auto;
    text-align: center;
    width: 50%;
    border:2px solid black;
    border-collapse:collapse;
}
body {
    background-color: #f2f2f2;
}

.container {
    margin-left: 250px; 
}

.book {
    display: flex; 
    align-items: center;
    margin-bottom: 20px; 
}

.book .image {
    margin-right: 20px; 
}

.book .details {
    flex-grow: 1;
}
