<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Library</title>
    <link rel="stylesheet" href="./static/login_style.css">
</head>
<body>
    <div><h1 style="text-align: center; margin-top: 130px;"><img src="/static/app-logo.png" height="40px" width="40px"> My Library</h1></div>
        <div class="userlogin">
        <h2 style="text-align: center;">Forgot Password</h2>
        <form action="/forgot" method="POST">
        <div style="text-align: center;">
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username"/>
        </div>
        <br>
        <div style="text-align: center;">
            <label>New Password</label>
            <input type="text" name="pass" placeholder="Enter new password"/>
        </div>
        <br>
        <div style="text-align: center;">
            <input type="submit" name="submit" value="Change Password"/>
        </div>
        </form>
        <br>
        </div>
    
</body>
</html>