<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Library</title>
    <link rel="stylesheet" href="/static/user_style.css" >
</head>
<body>
    <form action="/accept_tnc/{{username}}/{{pwd}}" method="POST">
    <div class="tnc">
        <h2 style="text-align: left; background-color: #ffffff;">Terms and Conditions</h2>
        1. Users must agree to the terms and conditions before using the e-library app.
        <br>
        2. Users may need to create an account to access certain features of the app. They are responsible for maintaining the confidentiality of their account credentials.
        <br>
        3. Users agree to use the app for personal, non-commercial purposes only. They may not reproduce, distribute, or modify the content without permission.
        <br>
        4. The app owns the intellectual property rights to the content provided. Users must respect these rights and may not infringe upon them.
        <br>
        5. Users may not engage in activities that violate the law or the rights of others, such as uploading malicious software or infringing on copyrights.
        <br>
        6. The app collects and uses personal information in accordance with its privacy policy. Users should review the privacy policy to understand how their data is handled.
        <br>
        7. The app reserves the right to terminate user accounts or access to the service at any time for violations of the terms and conditions.
        <br>
        8. The app provides content "as is" and makes no warranties regarding its accuracy or reliability. Users use the app at their own risk.
        <br>
        9. The app is not liable for any damages arising from the use of the service, including but not limited to direct, indirect, incidental, or consequential damages.
        <br>
        10. The terms and conditions are governed by the laws of the jurisdiction in which the app operates.
        <br>
        11. The app reserves the right to change the terms and conditions at any time.
        <br>
        12. Users can issue only <b>5 books </b>at a time. They can also download books for a price.
        <br>
        13. Users may issue a book for <b>a period of 7 days </b>and return the book within the prescribed date. If a user fails to do so, the access to the book shall be <b>revoked</b>.
        <br>
        <p style="font-size: x-small;text-align: right;">&copy; Copyright,My Library</p>
        <br>
        <input class="btn" type="submit" value="Accept"/>
    </form>
    </div>
    <br>
</body>
</html>